{% layout 'layout.liquid' %}
{% block content %}
    {% if drivers.length > 0%}
        <div>
            <h2 class="display-6">All Drivers</h2>
            <div class="row">
                {% for driver in drivers %}
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-header">{{driver.name}}</h5>
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if driver.isWorldChampion %}
                                    Drivers World Champion
                                {% else %}
                                    {%- comment -%} Not quite quick enough {%- endcomment -%}
                                {% endif %}
                            </h5>
                            <p class="card-text">{{driver.team}}</p>
                            <p class="card-text">Origin: {{driver.country}}</p>
                            {%- comment -%} <div class="colorBox" style="background-color: {{driver.color}}"> {%- endcomment -%}


                            <a class="btn btn-info" href="/drivers/{{driver.id}}">
                                View {{driver.name}}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h2 class="display-6">No drivers yet... time to add some!</h2>
        </div>
    {% endif %}
{% endblock %}