{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>{{driver.name}}</h2>
            <h4>
                {% if driver.isWorldChampion %}
                    DWC
                {%else %}
                    Not DWC
                {% endif %}
            </h4>
            <h4>{{driver.name}} drives for {{driver.team}} formula one team</h4>
            {% if driver.owner == userId %}
                <div class="btn-group">
                    {%- comment -%} first button will send us to the edit page {%- endcomment -%}
                    <a class="btn btn-primary" href="/drivers/edit/{{driver.id}}">Edit</a>
                    {%- comment -%} the second button w {%- endcomment -%}
                    <form action="/drivers/{{driver.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
    </div>
{% endblock %}